body {
  margin: 0;
  padding: 0;
  background-image: url("./images/bg.jpg");
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 500px) {
  body {
    background-size: contain;
  }
}
